canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1 !important;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none; /* garante que o fundo não bloqueie cliques */
}
